.input-area {
    width: 1000px;
}

.box1 {
    position: relative;

    margin-right: 10px;
    left: 0px;
    width: 40%;
    min-height: 600px;
    display: inline-block;
}

.outputText {
    position: relative;
    right: 0px;
    width: 40%;
    display: inline-block; 
}

.previewer {
    position: relative;
    width: 80%;
}